.custom-tooltip {
    border-radius: 10px;
    background-color: #faf8f8df;
    min-width: 100px;
    text-align: center;
    line-height: 1;
    padding: 1px 0;
}

.custom-tooltip .title {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    padding: 1px 4px;
    font-family: 'Times New Roman', Times, serif;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

.chart-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}

.chart-container .chart-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}